---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Bubble from "../components/Bubble.astro";
import Navbar from "../components/Navbar.astro";
import SvgSmartphone from "../components/SvgSmartphone.astro";
import MarketingCardRow from "../components/MarketingCardRow.astro";
import SvgSwosh from "../components/SvgSwosh.astro";
import SvgAsh from "../components/SvgAsh.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/studio-mua/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Studio Mua | Homepage</title>
  </head>
  <Navbar />

  <Header />
  <Layout>
    <main>
      <div class="bubble-container">
        <Bubble>
          Your feed is full of brands trying to sell you something &amp; your
          inbox is packed with emails you keep meaning to unsubscribe from...
        </Bubble>
      </div>
      <div class="text-container">
        <SvgSmartphone x="0%" y="-35%" rotateDeg={16} zIndex={0} />
        <SvgSwosh x="55%" y="2%" rotateDeg={-5} zIndex={0} />
        <SvgSwosh x="5%" y="13%" rotateDeg={-25} zIndex={0} />
        <SvgAsh x="80%" y="60%" rotateDeg={-10} zIndex={0} />
        <SvgSwosh x="10%" y="17%" rotateDeg={+25} zIndex={0} />
        <SvgSwosh x="70%" y="71%" rotateDeg={-25} zIndex={0} />
        <SvgSwosh x="39%" y="50%" rotateDeg={-12} zIndex={0} />
        <SvgAsh x="1%" y="60%" rotateDeg={-10} zIndex={0} />


        <h1 class="text-block-title">Welcome to Studio Mua</h1>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </p>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="cards-container">
        <h2 class="cards-title">
          Go from post & ghost to <br />content that just (gets) clicks
        </h2>
        <MarketingCardRow />
      </div>
    </main>
  </Layout>
</html>

<style>
  :root {
    --brown: #4b3821;
    --blue: #abbfe2;
    --white: #fbf6e2;
    --black: #141105;
  }

  .cards-container {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;
  }

  .cards-title {
    font-size: 2rem;
    color: var(--brown);
    position: relative;
    z-index: 1;
  }

  .text-container {
    max-width: 800px;
    margin: 140px auto;
    padding: 0 20px;
    position: relative;
  }
  .text-block-title {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .text-block {
    font-size: 1.2rem;
    color: var(--white);
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .bubble-container {
    margin-top: 100px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
  }
</style>
