---
import FormQuote from "../components/FormQuote.astro";
import InnerHeader from "../components/InnerHeader.astro";
import SvgAsh from "../components/SvgAsh.astro";
import SvgSwosh from "../components/SvgSwosh.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Studio Mua | Social Media Manager">
  <main>
    <InnerHeader title="Social Media Manager" />

    <div class="text-container">
      <SvgSwosh x="55%" y="2%" rotateDeg={-5} zIndex={0} />
      <SvgSwosh x="5%" y="13%" rotateDeg={-25} zIndex={0} />
      <SvgAsh x="80%" y="60%" rotateDeg={-10} zIndex={0} />
      <SvgSwosh x="10%" y="17%" rotateDeg={+25} zIndex={0} />
      <SvgSwosh x="70%" y="71%" rotateDeg={-25} zIndex={0} />
      <SvgSwosh x="39%" y="50%" rotateDeg={-12} zIndex={0} />
      <SvgAsh x="1%" y="60%" rotateDeg={-10} zIndex={0} />

      <h1 class="text-block-title">Lorem Ipsum</h1>
      <p class="text-block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </p>
      <p class="text-block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
      </p>
      <p class="text-block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </p>
      <p class="text-block text-block-bottom">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
      </p>
    </div>
    <FormQuote />
  </main>
</Layout>

<style>
  .text-container {
    max-width: 800px;
    margin: 140px auto;
    padding: 0 20px;
    position: relative;
  }

  .text-block-title {
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: rgba(171, 191, 226, 0.1);
    padding: 12px 20px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
  }

  .text-block {
    color: var(--white);
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
</style>
