---
import MarketingCard from "./MarketingCard.astro";
export type Props = { class?: string };
const { class: className } = Astro.props;
---

<section class={`row ${className ?? ""}`}>
  <MarketingCard
    title="The Icebreaker"
    subtitle="Strategy • Concept"
    cta="Lorem Ipsum"
    href="/graphic-designer"
    color="pink"
  />
  <MarketingCard
    title="The Party Starter"
    subtitle="Planning • Launch"
    cta="Lorem Ipsum"
    href="/content-creator"
    color="green"
  />
  <MarketingCard
    title="The Vault"
    subtitle="Done-for-you"
    cta="Lorem Ipsum"
    href="/social-media-manager"
    color="brown"
  />
</section>

<style>
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
  }

  @media (max-width: 1200px) {
    .row {
      gap: 36px;
      padding: 0 75px;
    }
  }
  @media (max-width: 1050px) {
    .row {
      gap: 32px;
      padding: 0 30px;
    }
  }
  @media (max-width: 900px) {
    .row {
      gap: 28px;
      padding: 0 18px;
    }
  }
  @media (max-width: 750px) {
    .row {
      gap: 24px;
      padding: 0 16px;
    }
  }

  /* Sotto 720px: 1 colonna */
  @media (max-width: 720px) {
    .row {
      grid-template-columns: 1fr;
      gap: 82px;
      padding: 0 16px;
    }
  }
</style>
